{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h4 class="display-4">Welcome!</h4>
  <p>Reportal helps detact data descrepancies in excel files, with a goal to create awareness for importance of good data quality.</p>
</div>


    <!-- Example row of columns -->
    <div class="card-deck mb-3">
      <div class="card mb-4 shadow-sm">
        <div class="card-header"><h4 class="my-0 font-weight-normal">Submit Portal</h4></div>
        <div class="card-body">
            <p>Submit or download excel files, examined against pre-defined data quality template and rules.</p>
            <div style="text-align: center;"><a class="btn btn-lg btn-outline-primary" href="{% url 'porter:list' %}" role="button"><span class="fa fa-paw"></span> Go submit</a></div>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header"><h4 class="my-0 font-weight-normal">Create Portal</h4></div>
        <div class="card-body">
            <p>Create or edit data quality templates, attach templates to reports and report sets.</p>
            <div style="text-align: center;"><a class="btn btn-lg btn-primary" href="{% url 'porter:reportset' %}" role="button"><span class="fa fa-laptop"></span> Go create</a></div>
        </div>
      </div>
    </div>

    <hr>

   <!-- /container -->
{% endblock %}
