{% load crispy_forms_tags %}
<!-- NEW and EDIT modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="modal_title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    
            </div>
            <div class="modal-body">
               <form method="POST" action="" enctype='multipart/form-data' id='modal-form'>
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" name="btn_new" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-ok"></span> OK
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% if scope == 'template' %}
<!-- Duplicate Modal -->
<div class="modal fade" id="duplicateModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure? All related fields and rulesets will be duplicated as well</h4>
            </div>
            <div class="modal-body">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="duplicate">Duplicate</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if scope == 'field' %}
<!-- Import modal -->
<div class="modal fade" id="importModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="modal_title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    
            </div>
            <div class="modal-body">
               <form method="POST" action="{% url 'porter:field' rspk=rspk tpk=tpk %}" enctype='multipart/form-data' id='import-modal-form'>
                    {% csrf_token %}
                    {% crispy importform %}
                    <button type="submit" name="btn_import" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-ok"></span> OK
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if form.errors  %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>
{% endif %} 