{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <a href="{% url 'porter:home' %}" class="previous">&laquo; Previous</a>
    <a href="{% url 'porter:reportset_add' %}">Add</a>
    {% include 'porter/reportset_create.html' %}
    <h4>Select an existing report set</h4>
    <hr/>
    {% if object_list %}
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>Date Created</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Create By</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
                {% for item in object_list %}
                <tr>
                    <td>{{ item.create_date }}</td>
                    <td><a href="{% url 'porter:template' item.id %}"></a>{{ item.id }}</a></td>
                    <td>{{ item.name }}</a></td>
                    <td>{{ item.group }}</a></td>
                    <td>{{ item.create_by }}</td>
                    <td><a href="{% url 'porter:reportset_edit' item.id %}">Update</a></td>
                    <td>Delete</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No report set available.</p>
    {% endif %}
    
{% endblock %}
