{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <div class="flex">
        <div class="left"><a href="{% url 'porter:reportset' %}" class="previous">&laquo; Previous</a></div>
        <div class="right"><button type="button" data-dismiss="modal" class="btn btn-primary btn-sm" id="new">+</button></div>
      </div>

    <!-- datatables -->
    <table id="datatables" class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>uid</th>
                <th>create_date</th>
                <th>create_by</th>
                <th>last_modify_date</th>
                <th>action</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
    
            </tr>
        </tfoot>
    </table>
{% include 'porter/editdelete_modal.html' %}

{% endblock %}

{% block javascripts %}
<script src="{% static 'js/template.js' %}"></script>
{% endblock %}