{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="row">
        <div class="col-md-6 col-sm-6">
        <form method="POST" action='' enctype='multipart/form-data'>
            <h4>Create a new template</h4>
            <hr/>
            {% csrf_token %}
            {% crispy form %}
            <a href="{% url 'porter:reportset' %}" class="previous">&laquo; Previous</a>
        </form>
        </div>

        <div class="col-md-6 col-sm-6">
            <h4>Edit existing templates</h4>
            <hr/>
            {% if query_list %}
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Uid</th>
                            <th>Name</th>
                            <th>Create at</th>
                            <th>Create by</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for item in query_list %}
                        <tr>
                            <td>{{ item.id }}</a></td>
                            <td>{{ item.uid }}</a></td>
                            <td><a href="{% url 'porter:home' %}">{{ item.name }}</a></td>
                            <td>{{ item.create_date }}</td>
                            <td>{{ item.create_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No template available.</p>
            {% endif %}
        </div>

    </div>


{% endblock %}
